.card {
  min-width: 100px;
  width: 30%;
  color: #fff;
  border-radius: 10px;
  height: 120px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  transition: transform 1.5s ease, box-shadow 0.3s ease-in;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: 0.5s ease;
  background-color: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay .text {
  color: #fff;
  text-align: center;
}
.overlay:hover {
  opacity: 0.9;
  z-index: 4;
}
.copied-text {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}
.card p {
  margin: 0;
}

.card:hover {
  transform: translate(0px, -15px);
  box-shadow: 1px 9px 11px -5px rgba(0, 0, 0, 0.88);
}
